body {
	margin: 0 auto;
	padding: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

a:hover {
	text-decoration: underline;
}

header {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

footer {
	height: 100px;
	background-color: #eee;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	text-align: center;
	width: 100;
}


header a, header a:visited {
	text-decoration: none;
	color: #aaa;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
}

nav {
	color: #66CC33;
	text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
	margin-bottom: 15px;
	display: block;
    
    background-color: #6BA400;
    text-decoration: none;
    border-radius: 5px;
}

nav a {
	padding: 10px;
	display: block;
}

nav a:link, nav a:visited {
	display: block;
    color: #FFFFFF;
    text-decoration: none;
}

nav li:hover, nav li.active {
    background-color: #FF6F00;
}

#recommendation {
	text-align: center;
}

#recommendation a {
	color: #aaa;
	font-size: 30px;
	text-decoration: none;
}

#recommendation p {
	text-align: center;
	margin-top: -30px;
	margin-bottom: 50px;
	color: #666;
}

#management {
	overflow: auto;
	margin-bottom: 20px;
}

.and, .and p {
	color: #eee;
	font-size: 200px;
	margin: 30px;
	text-align: center;
}


.container {
	margin: auto;
	padding: auto;
	overflow: auto;
}

.container h1 {
	text-align: center;
	color: #FF6F00;
	margin: 50px;
}

article {
	width: 70%;
	float: left;
	overflow: auto;
}

article #left {
	float: left;
	width: 50%;
}

article #right {
	float: right;
	width: 50%;
}

article #profileImg {
	float: left;
	width: 30%;
}

article #profileText {
	float: right;
	width: 40%;
	margin-right: 15%;
	text-align: justify;
	color: #556270;
}

article #wall {
	float: right;
	width: 40%;
	border-style: solid;
	border-color: #FFE4C4;
	background-color: #FAEBD7;
}

article #description {
	text-align: justify;
	color: #556270;
}

aside {
	width: 25%;
	float: right;
}

img, video, canvas {
  max-width: 100%;
  border-radius: 5px;
}

form {
	clear: both;
	margin: auto;
}


input, textarea {
    width:50%;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

@media screen and (max-width: 800px)  {
	.container {
		width: 90%;
	}

	article {
		float: none;
		width: 100%;
	}

	aside {
		float: none;
		width: 100%;
	}

}
@media screen and (min-width: 800px) {
	.container {
		width: 90%;
		max-width: 1000px;
	}
}

.largerText {
	font-size: 24pt;
	font-family: Helvetica, sans-serif;
	margin-right: 5px;
	margin-bottom: 5px;
	color: black;
}

.arrow {
	text-align: center;
}

.arrow img{
	width: 40%;
	margin: auto;
}


