body {
	font-family: 'Helvetica', sans-serif;
	margin: auto;
	padding: auto;
}

header {
	text-align: center;
}






img, video, canvas {
  max-width: 100%;
}

@media screen and (max-width: 600px)  {
	body {
		width: 90%;
	}
}
@media screen and (min-width: 600px) {
	body {
		width: 90%;
	}
}
@media screen and (min-width: 1200px) {
	body {
		width: 70%;
	}
}